.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px;
  color: blue;
}

nav * {
  display: flex;
}

nav span {
  padding: 5px;
}

nav svg {
  color: blue;
  padding: 0;
  height: 100%;
}