body {
  color: blue;
}

h1 {
  margin: 5px 0;
}

h4,
h3,
h2 {
  margin: 0;
}

h4 {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  width: min-content;
  max-width: 500px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px;
  color: blue;
}

nav * {
  display: flex;
}

nav span {
  padding: 5px;
}

svg {
  color: blue;
  padding: 0;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
}

.header-style-child {
  display: flex;
  margin: 20px;
}

.element-text-style {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 10px 0;
}

.details-data {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
}

.details-text {
  display: flex;
  align-items: center;
}

.details-text * {
  margin-left: 5px;
}
